body, html{
  height:100%;
  font-family: 'Amatic SC', cursive;
}
body{
  margin: 0px;
  background-image: url("http://www.mrwallpaper.com/wallpapers/metro-subway-1600x900.jpg");
  background-size: 100% auto;
  font-size: 30px;
}
body, a:link, a:visited, a:active{
  color: magenta;
  text-decoration: none;
}
.title, .addDancerButton{
  padding:5px 12px;
  float:right;
}
.topbar{
  height:50px;
  background-color: black;
}
.title{
  background-color: purple;
}
.dancer{
 /* border:10px solid red;
  border-radius:7px;*/
  position:absolute;
}

.morphy{
  border:10px solid red;
  border-radius: 1px;
  position:absolute;
}

.turtle{
  background-image: url("http://31.media.tumblr.com/2eb808bd6a3cb4f005c989a80ca7d539/tumblr_mmzvm6zpHl1soog04o1_500.gif");
}